.empty {
    background: linear-gradient(to bottom right, #fff, #ddd, #aaa);
    color: #000  !important;
}


body {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center ;
}

#table {
    text-align: center;
    margin: 30px;
    width:600px;
    height:600px;
    font-size: 25pt;
    font-weight: bold;
}

#table td {
    min-width: 150px;
}