.empty {
    background-color: #fff;
}


body {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center ;
}

#table {
    text-align: center;
    margin: 30px;
    width:600px;
    height:600px;
    font-size: 25pt;
    font-weight: bold;
}

#table td {
    min-width: 150px;
}

.hint { display: none; color: gray; font-style: italic; }


input#limited:checked + .hint { display :  block }

label.radio:focus + .hint { display :  block }
