.empty {
    background-color: #00f !important;
    color: #fff  !important;
}


body {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center ;

}

#table {
    text-align: center;
    margin: 30px;
}

