{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'npuzzle/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>N-Puzzle!</title>
  </head>

  <body class="container">

    <h1 id="title">N-Puzzle !</h1>

    <div id="divStep" class="d-flex justify-content-center">
        <div id="stepOne" class="d-flex flex-column justify-content-around align-items-center p-2">

            <div class="input-group mb-3">
                <input type="number" id="matrixDimension" class="form-control" min="2" placeholder="Dimensao da matriz...">

                <div class="input-group-append">
                    <button id="create" onclick="createMatrix();" class="btn btn-outline-secondary" type="button">Gerar Matriz</button>
                </div>
            </div>

        </div>
    </div>

    <div id="divTable" class="d-flex" ></div>

    <div id="solve" style="display: none;">
        <h2>Escolha o metodo de Busca</h2>

        <form id="post-form" action="solve_puzzle/" method="post">
            {% csrf_token %}

            <div id="radios">

                <div>

                    <label class="radio"><input type="radio" name="optradio" value=1 checked />Largura</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=2 />Profundidade</label>
                </div>
                <div>
                    <input type="radio" id="limited" name="optradio" value=3 />
                    <div class="hint">Digite o Limite de iteracoes: <input type="number" id="limit"/></div>
                    <label class="radio" for="limited">Profundidade Limitada</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=4 />Profundidade Iterativa</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=5 />GME H1</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=6 />GME H2</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=7 />A* H1</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=8 />A* H2</label>
                </div>
                <div>
                    <label class="radio"><input type="radio" name="optradio" value=9 />Custo Uniforme</label>
                </div>
            </div>
            <button id="submit" class="btn btn-outline-secondary" type="submit">Resolver</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'npuzzle/script.js' %}"></script>

  </body>
</html>
